*{
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Solway', serif;
	border: transparent;
	color: #233249;
}
.selected{
	color: red;
}

.productImages h5, .nav h3, .second, .third{
	display: none;
}

h1{
	position: relative;
	font-size: 1em;
	text-align: right;
	padding: .25em .75em;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: .15em;
	
	font-family: 'Montserrat', sans-serif;
}
h1 img{
	position: relative;
	width: 2.5em;
	height: 2.5em;
}
h2{
	font-size: 1.8em;
	font-weight: 600;
	text-align: center;
	letter-spacing: .001em;
}
h3{
	font-size: 1em;
	font-weight: 1;
}
h4{
	font-size: .95em;
	letter-spacing: .1em;
}
h5{
	font-size: .85em;
	text-align: center;
}
h6{
	font-size: 1em;
}
p{
	font-size: .75em;
}

button{
	display: flex;
	background-color: #233249;
	color: white;
	padding: 1em;
	margin: 2em auto 2em auto;
	letter-spacing: .5em;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 900;
}
button:hover{
	background-color: #ff6e26;
}

body{
	position: relative;
	background-color: #f9f9f7;
}

.landingImage{
	position: absolute;
	display: flex;
	width: 100%;
	height: 39em;
	bottom: 0em;
	z-index: -1;
	background-image: url("Images/JannetSerhan_pexels.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border: none;
}

.nav h3{
	position: fixed;	
	left: .5em;
	width: 9em;
	text-align: center;
	font-size: 1.65em;
	background-color: white;
	z-index: 100;
	border-left: solid #233249 .25em;
}
.nav h3:active{
	background-color: rgba(242, 242, 242, 1);
}
.nav a{
	text-decoration: none;
}
.menu1{
	padding: .35em;
	position: fixed;
	
	top: 2em;
}
.menu2{
	padding: .35em;
	position: fixed;
	top: 4em;
}
.menu3{
	padding: .35em;
	position: fixed;
	top: 6em;
}
.menu4{
	padding: .35em;
	position: fixed;
	top: 8em;
}
.top{
	position: relative;
	display: flex;
	flex-direction: column;
}
.menu{
	width: 2em;
	height: 2em;
	position: fixed;
	display: static;
	z-index: 100;
	margin: .5em;
}
.menu img{
	position: absolute;
	width: 90%;
	height: 90%;
}
.heading{
	padding: .25em;
	height: 44.25em;
}
.heading h2{
	text-align: center;
}
.heading h3{
	width: 75%;
	text-align: center;
	margin: auto;
}
.reviews{
	background-color: rgba(255, 255, 255, .45);
	height: 10em;
	bottom: 0em;
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.review{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.label{
	position: relative;
	top: -1.25em;
}
.label h2{
	text-align: left;
	margin-left: .5em;
}
.info{
	display: flex;
	flex-direction: column;
	width: 79%;
}
.ratings{
	display: flex;
	flex-direction: row;
	margin: .25em 0;
}
.ratings img{
	width: .8em;
	height: .8em;
	margin: auto .025em auto 0.025em;
}
.identity{
	display: flex;
	flex-direction: row;
}
.captionImage{
	position: relative;
	width: 4.75em;
	height: 6em;
	display: flex;
}
.captionImage img{
	position: absolute;
	width: 100%;
	height: 100%;
}
.left, .right{
	position: relative;
	width: 1.79em;
	height: 1.79em;
	margin: 1.45em .25em;
}
.left img, .right img{
	position: absolute;
	width: 100%;
	height: 100%;
}
.comment h5{
	text-align: left;
	margin: .5em 0;
}

.products{
	display: flex;
	flex-direction: column;
}
.productheading h5{
	display: none;
}
.content{
	display: none;
}
.title h2{
	margin: 2em auto -2em auto;
}
.title h2 img{
	width: 1em;
	height: 1em;
}
.productImages{
	position: relative;
	width: 17em;
	height: 27em;
	margin: 1em auto 1em auto;
}
.productImages img{
	position: absolute;
	width: 100%;
	height: 100%;
}
.productImages .favorite{
	position: absolute;
	display: none;
	right: 0;
	width: 1.75em;
	height: 1.75em;
	margin: .35em;
	cursor: pointer;
}
.productImages .unfavorite{
	position: absolute;
	right: 0;
	width: 1.75em;
	height: 1.75em;
	margin: .35em;
	cursor: pointer;
}
.productImages p{
	text-transform: uppercase;
	position: absolute;
	left: 1em;
	top: -.5em;
	font-weight: 900;
	font-size: 1em;
}
.productImages h6{
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right;
	font-weight: 100;
	font-size: .7em;
	width: 50%;
	margin: 1em;
	
}
.productImages h5{
	position: absolute;
	color: white;
	top: 3em;
	width: 50%;
	right: .25em;
	z-index: 100;
	background-color: black;
	padding: .5em;
}
.shade{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, .5);
	z-index: 100;
}

.bullet{
	display: flex;
	flex-direction: column;
}
.pro{
	display: flex;
	width: 8em;
	height: 8em;
	margin: 2em auto 2em auto;
	align-self: center;
}
.bullet h5{
	margin: 1.5em auto 1.5em auto;
	width: 75%;
	text-align: center;
}

.about{
	display: flex;
	flex-direction: column;
}
.about h2{
	margin: 2em auto 0 auto;
}
.about h2 img{
	width: 1em;
	height: 1em;
}
video{
	display: flex;
	
	width: 90vw;
	height: 70vw;
	
	max-width: 70em;
	max-height: 40em;
	margin: auto;
}

.spacer{
	width: 92.50%;
	height: 3em;
	background-image: url("Icons/pattern.svg");
	background-repeat: repeat;
	background-size: 3em;
	transform: skewX(20deg);
	margin: 4em auto 2em auto;
}

.footer{
	display: flex;
	flex-direction: column;
}
.footer img{
	position: relative;
	width: 2.5em;
	height: 2.5em;
}
.signup h5{
	text-align: center;

}

.signup input{
	display: flex;
	background-color: rgba(0, 0, 0, .05);
	padding: .5em;
	margin: .5em auto;
	width: 19em;
	height: 2em;
}

.socials{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 1.75em;
}
.socials h5{
	margin: 1em;
}

.misc{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.misc h5{
	margin: .15em .65em;
	font-size: .8em;
	font-weight: 100;
}

.credits{
	margin: 2em auto 2em auto;
}
.credits h6{
	color: gray;
	text-align: center;
	font-size: .8em;
	font-weight: 100;
}
@media only screen and (min-width: 768px){
	.nav{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.nav h3{
		position: static;
		display: flex;
		margin: .5em 1em -.5em 1em;
		letter-spacing: .1em;
		font-weight: 900;
		background-color: transparent;
		padding: 0em;
		width: auto;
		text-align: center;
		font-size: 1em;
		border: none;
	}
	.nav h3{	
		left: -.5em;
	}
	.nav h3:active{
		color: red;
	}
	.menu1{
		position: fixed;
		top: -5em;
	}
	.menu2{
		position: fixed;
		top: -7em;
	}
	.menu3{
		position: fixed;
		top:-9em;
	}
	.menu4{
		position: fixed;
		top: -11em;
	}
	.menu{
		display: none;
	}
	.heading h1{
		text-align: center;
	}
	.heading h3{
		width: 20%;
	}
	.info{
		width: auto;
	}
	.captionImage{
		width: 15vw;
		height: 16vw;
		
		max-width: 7.75em;
		max-height: 8.5em;
		margin-top: -2vw;
	}
	.comment{
		width: 75%;
	}
	
	.content{
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 1em auto 1em auto;
	}
	.content h4{
		font-size: .65em;
		margin: 0 .7em;
	}
	.productheading h5{
		display: block;	
	}
	.products{
		flex-direction: row;
		justify-content: center;
	}
	.productImages{
		width: 22vw;
		height: 38vw;
		
		max-width: 18em;
		max-height: 28em;
	}
	
	.bullet{
		flex-direction: row;
		justify-content: space-around;
	}
	
	.footer1{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	.socials h5{
		text-align: left;
	}

}